#card{
    padding: 16px;
    box-sizing: border-box;
    width: 100vw;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#title{
    font-size: 20px;
    font-weight: 500;
}

#description{
    font-size: 16px;
}