<div *ngIf="event">
  <div>
      Title {{event.title}}
  </div>
  <div>
      Description {{event.description}}
  </div>
  <div>
      Date {{event.date}}
  </div>
  <div>
      Id {{event._id}}
  </div>
  <div>
      Registrations Count {{event.registrations.length}}
  </div>


  <div id="form">
    <div id="field">
        <input [(ngModel)]="name" />
        {{ name }}
    </div>

    <div id="field">
        <input [(ngModel)]="email"/>
        {{ email }}
    </div>

    <div>
      <button (click)="register()">Register</button>
    </div>
    
  </div>
  
</div>